[Unit]
Description=Mail Service
After=docker.service
WorkingDirectory=/home/core/dockermail

[Service]
Type=oneshot
ExecStart=/opt/bin/docker-compose up --no-recreate -d
ExecStop=/opt/bin/docker-compose stop

[Install]
WantedBy=multi-user.target