[Unit]
Description=Mail Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/core/dockermail
ExecStart=/opt/bin/docker-compose up --no-recreate -d
ExecStop=/opt/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
